<td>
    {{name}}
</td>
<td>
    {{price}}
</td>
<td>
    {{memberPrice}}
</td>
<td>
    {{unitLabel}}
</td>
<td>
    {{spicyLabel}}
</td>
<td>
    {{nonIntLabel}}
</td>
<td>
    {{specialPriceLabel}}
</td>
<td>
    {{desc}}
</td>
<td>
    {{inMenu}}
</td>
<td>
    <a href="" class="btn-edit-dish hover-tip" title="Edit dish"><i class="icon-edit"></i></a>
    <a href="" class="btn-delete-dish hover-tip" title="Delete dish"><i class="icon-remove"></i></a>
</td>
