<td>
    {{name}}
</td>
<td>
    {{typeLabel}}
</td>
<td>
    {{price}}
</td>
<td>
    {{memberPrice}}
</td>
<td>
    {{unitLabel}}
</td>
<td>
    {{spicyLabel}}
</td>
<td>
    {{nonIntLabel}}
</td>
<td>
    {{specialPriceLabel}}
</td>
<td>
    {{desc}}
</td>
<td>
    {{inMenu}}
</td>
<td>
    <a href="" class="btn-edit-dish">编辑</a>
    |
    <a href="" class="btn-delete-dish">删除</a>
</td>
