<td>
    {{id}}
</td>
<td>
    {{customerNumber}}
</td>
<td>
    {{table.name}}
</td>
<td>
    {{user.realName}}
</td>
<td>
    {{#if payed}}
        {{income}}
    {{else}}
       Unchecked 
    {{/if}}
</td>
<td>
    {{#if payed}}
        {{billTime}}
    {{else}}
       Unchecked 
    {{/if}}
</td>
<td>
    <a href="/order?orderId={{id}}" class="btn-check">Detail</a>
    |
    <a href="#" class="btn-print">Print</a>
</td>
