<td>
    {{time}}
</td>
<td>
    {{count}}
</td>
<td>
    {{tableRate}}
</td>
<td>
    {{customerCount}}
</td>
<td>
    {{aveOrder}}
</td>
<td>
    {{avePerson}}
</td>
<td>
    {{invoiceCount}}
</td>
<td>
    {{invoiceAmount}}
</td>
<td>
    {{discount}}
</td>
<td>
    {{tips}}
</td>
<td>
    {{income}}
</td>
