<td>
    {{name}}
</td>
<td>
    {{typeLabel}}
</td>
<td>
    {{capacity}}
</td>
<td>
    {{minChargeLabel}}
</td>
<td>
    {{tipModeLabel}}
</td>
<td>
    {{tipLabel}}
</td>
<td>
    <a href="" class="btn-edit-table hover-tip" title="Edit table"><i class="icon-edit"></i></a>
    <a href="" class="btn-delete-table hover-tip" title="Delete table"><i class="icon-remove"></i></a>
</td>
