<td>
    {{name}}
</td>
<td>
    {{typeLabel}}
</td>
<td>
    {{shapeLabel}}
</td>
<td>
    {{capacity}}
</td>
<td>
    {{minChargeLabel}}
</td>
<td>
    {{tipModeLabel}}
</td>
<td>
    {{tipLabel}}
</td>
<td>
    <a href="" class="btn-edit-table">编辑</a>
    |
    <a href="" class="btn-delete-table">删除</a>
</td>
