<div class="pager-wrap overflow-hidden">
    <div class="pagination pagination-left pull-left">
        <ul>
            <li class="{{#unless hasLast}}active{{/unless}}">
                <a href="#" class="page-item" value="{{lastIndex}}">
                   Previous Page 
                </a>
            </li>
            {{#each pagers}}
            {{#if this.isActive}}
                <li class="active">
                    <a href="#" class="page-item" value="{{this.index}}">{{this.index}}</a>
                </li>
            {{/if}}
            {{#if this.isNormal}}
                <li>
                    <a href="#" class="page-item" value="{{this.index}}">{{this.index}}</a>
                </li>
            {{/if}}
            {{#if this.isDot}}
                <li>
                    <a href="#" class="page-item" value="0">...</a>
                </li>
            {{/if}}
            {{/each}}
            <li class="{{#unless hasNext}}active{{/unless}}">
                <a href="#" class="page-item" value="{{nextIndex}}">Next Page</a>
            </li>
        </ul>
    </div>
    <div class="pull-right pager-go">
        Go to page <input type="text" class="input-page" value="{{currentIndex}}"></input><span class="btn-link btn-go"></span>
    </div>
</div>

