<div id="{{carouselId}}" class="carousel slide">
    <ol class="carousel-indicators">
        <li data-target="#{{carouselId}}" data-slide-to="0" class="active"></li>
        <li data-target="#{{carouselId}}" data-slide-to="1"></li>
        <li data-target="#{{carouselId}}" data-slide-to="2"></li>
    </ol>
    <!-- Carousel items -->
    <div class="carousel-inner">
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#{{carouselId}}" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#{{carouselId}}" data-slide="next">&rsaquo;</a>
</div>
